*.iml
.idea/*
.gradle/*
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/pc/.idea/*
app/src/main/pc/cmake-build-debug
app/src/main/pc/build
app/src/main/pc/faceVerification
Debug
*.ncb
*.user
*.suo
.vs
Release